{% extends 'base.html'%}
{% import 'macros.html' as macro %}
  {% block content %}
        <meta  name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> news</title>
      {% endif %}
<body>
<div class='container'>
<center><h1 style='font-size:58px;'>Top-headlines</h1></center>

                {{macro.displayArticlesList(articles)}}

</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up">click here</i></a>
</div>

<script src="{{url_for('static',filename='js/logic.js')}}"></script>

</body>
{% endblock %}
